<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>
<form method="POST" action="/problem/">
    <div>
        <p><label for="name">問題名</label></p>
        <p id="name-view"><%= name %></p>
    </div>

    <div>
        <p><label for="content">説明 (MarkDown)</label></p>
        <p id="content-view"><%= content %></p>
    </div>

    <div>
        <p><label for="master-user">作成者</label></p>
        <p id="master-user-view"><%= master_user %></p>
    </div>

</form>

</body>
</html>
