<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>
<p>Twitter username: <%= username %></p>

<a href="/auth/twitter">Twitterでログインする</a>

<a href="/problem/create">問題作成</a>

<ul>
    <% problems.forEach(function (problem) { %>
    <li class="problem">
        <a href="/problem/view/<%= problem.id %>"><span class="problem-title"><%= problem.name %></span></a>
    </li>

    <% }); %>
</ul>

</body>
</html>
